@page "/ChangePassword"
@model Web.Pages.Pannel.ChangePasswordModel
@{
    ViewData["Title"] = "تغییر کلمه عبور" + User.Identity.Name;
}

<div class="container">
    <ul class="navigation-ul row">
        <li class="navigation-item">
            <a class="link-a" href="/">ای ام لرن</a>
        </li>
        /
        <li class="navigation-item active">
            تغییر کلمه عبور
        </li>
    </ul>
</div>

<!-- start main -->
<main class="main1">
    <div class="container">
        <div class="section row">
            <partial name="_SideBar" />
            <section class="section-left">
                <form method="post" class="main-box">
                    @if (ViewBag.IsSuccess != null)
                    {
                        <div class="success">
                            کلمه عبور شما با موفقیت ویرایش شد
                        </div>
                    }
                    <h1 class="main-box-h1">تغییر کلمه عبور</h1>
                    <div class="main-box-input">
                        <span class="main-box-input-addon">
                            <i class="fas fa-user">

                            </i>
                        </span>
                        <input type="password" asp-for="@Model.Password.OldPassword" class="form-control" placeholder="کلمه عبور فعلی">
                    </div>
                    <div class="main-box-input">
                        <span class="main-box-input-addon">
                            <i class="fas fa-envelope">

                            </i>
                        </span>

                        <input type="password" asp-for="@Model.Password.Password" class="form-control" placeholder="کلمه عبور جدید">
                    </div>

                    <div class="main-box-input">
                        <span class="main-box-input-addon">
                            <i class="fas fa-envelope">

                            </i>
                        </span>
                        <input type="password" asp-for="@Model.Password.RePassword" class="form-control" placeholder="تکرار کلمه عبور جدید">
                    </div>
                    <div class="textdanger" asp-validation-summary=All></div>
                    <button class="btn">تغییر کلمه عبور</button>
                </form>
            </section>
        </div>
    </div>
</main>
<!-- end main -->
