@page "/ActiveAccount"
@model Web.Pages.Account.ActiveAccountModel
@{
    ViewData["Title"] = "فعالسازی حساب کاربری";
}

<div class="container">
    <ul class="navigation-ul row">
        <li class="navigation-item">
            <a class="link-a" href="/">ای ام لرن</a>
        </li>
        /
        <li class="navigation-item active">
            فعالسازی حساب کاربری
        </li>
    </ul>
</div>

<div class="container">
    @if (ViewBag.IsActive)
    {
        
    }
    else
    {
        
    }
</div>