@page "/ActiveAccount"
@model Web.Pages.Account.ActiveAccountModel
@{
    ViewData["Title"] = "فعالسازی حساب کاربری";  
}

<div class="container">
    <ul class="navigation-ul row">
        <li class="navigation-item">
            <a class="link-a" href="/">ای ام لرن</a>
        </li>
        /
        <li class="navigation-item active">
            فعالسازی حساب کاربری
        </li>
    </ul>
</div>

<div class="container">
    @if (ViewBag)
    {
        <div class="success">
            <p>حساب کاربری شما فعال شد</p> 
            <br/>
            <p>
                <a href="/Login">ورود به سایت</a>
            </p>
        </div>
         
    }
    else
    {
        <div class="danger">
            <p>حساب کاربری با مشخصات ارسال شده یافت نشد</p> 
            <br/>
            <p>
                <a href="/">صفعه ی اصلی سایت</a>
            </p>
        </div>
    }
</div>