@page "/ForgotPassword"
@model Web.Pages.Account.ForgotPasswordModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}

<div class="container">
    <ul class="navigation-ul row">
        <li class="navigation-item">
            <a class="link-a" href="/">ای ام لرن</a>
        </li>
        /
        <li class="navigation-item active">
            بازیابی کلمه عبور
        </li>
    </ul>
</div>

<!-- Start Main -->

<main>
    <form method="post">
        <div class="main-box">
@*            @if ()
            {
                <div>
                </div>
            }*@

            <h1 class="main-box-h1">بازیابی کلمه عبور</h1>
            <div class="main-box-input">
                <span class="main-box-input-addon">
                    <i class="fas fa-envelope">
                    </i>
                </span>
                <input type="email" asp-for="forgot.Email" class="form-control" placeholder="ایمیل">
            </div>
            <span asp-validation-for="forgot.Email" class="textdanger"></span>

            <input type="submit" class="btn" value="تایید و ارسال">
        </div>
    </form>
</main>

<!-- End Main -->
