@page "/ForgotPassword"
@model Web.Pages.Account.ForgotPasswordModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}

<div class="container">
    <ul class="navigation-ul row">
        <li class="navigation-item">
            <a class="link-a" href="/">ای ام لرن</a>
        </li>
        /
        <li class="navigation-item active">
            بازیابی کلمه عبور
        </li>
    </ul>
</div>
