@page "/Register"
@model Web.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "ثبت نام";
}
<div class="container">
    <ul class="navigation-ul row">
        <li class="navigation-item">
            <a class="link-a" href="/">ای ام لرن</a>
        </li>
        /
        <li class="navigation-item active">
            عضویت در سایت
        </li>
    </ul>
</div>

<main>
    <form method="post">
        <div class="main-box">

            <h1 class="main-box-h1">عضویت در سایت</h1>
            <div class="main-box-input">
                <span class="main-box-input-addon">
                    <i class="fas fa-user">

                    </i>
                </span>
                <input type="text" asp-for="user.UserName" class="form-control" placeholder="نام و نام خانوادگی">
            </div>
            <span asp-validation-for="user.UserName" class="textdanger"></span>
            <div class="main-box-input">
                <span class="main-box-input-addon">
                    <i class="fas fa-envelope">

                    </i>

                    <input type="email" asp-for="user.Email" class="form-control" placeholder="ایمیل">
                </span>
            </div>
            <span asp-validation-for="user.Email" class="textdanger"></span>
            <div class="main-box-input">
                <span class="main-box-input-addon">
                    <i class="fas fa-lock">

                    </i>
                </span>
                <input type="password" asp-for="user.Password" class="form-control" placeholder="کلمه عبور">
            </div>
            <span asp-validation-for="user.Password" class="textdanger"></span>
            <div class="main-box-input">
                <span class="main-box-input-addon">
                    <i class="fas fa-lock">

                    </i>
                </span>
                <input type="password" asp-for="user.RePassword" class="form-control" placeholder=" تکرار کلمه عبور">
            </div>
            <span asp-validation-for="user.RePassword" class="textdanger"></span>
            <div>
                <a href="#" class="link-a">
                    <i class="fas fa-user"></i> ورود به سایت
                </a>
            </div>
            <input class="btn" type="submit" value="عضویت در سایت" />

        </div>
    </form>
</main>