@page 
@model IndexModel
@{
    ViewData["Title"] = "خانه";
}

@section Brand {
                <div class="brand">
                <div class="desc col-sm-12 col-xs 12">
                    <p class="desc-teachers">
                        با اساتید مجرب و کارآزموده در خودآموز ای ام لرن
                    </p>
                    <p class="desc-job">
                        آموزش ببینید و تجربه کسب کنید و وارد بازار کار شوید
                    </p>
                    <p class="desc-yourself">با کمترین هزینه خودت یاد بگیر</p>
                </div>
                <div class="search row col-sm-12 col-xs-12">
                    <input type="text" class="search-input" placeholder="Search..." />
                </div>
            </div>
}
    
    <!-- start main -->
    <main>
        <!-- start course -->
        <div class="container">
            <div class="course">
                <h2>آخرین دوره های ای ام لرن</h2>
                <h4>مشاهده ی همه دوره ها</h4>
            </div>
            <div class="row">
                <div class="course-list">

                    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-3 col-xxl-3">
                        <div class="course-list-content">
                            <a href="#"><img class="image" src="/Images/pic/1.jpg" alt="1"></a>


                            <div class="row">
                                <p class="course-list-content-price">
                                    190000 $
                                </p>
                                <p class="course-list-content-time">
                                    15:12:30
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-3 col-xxl-3">
                        <div class="course-list-content">
                            <a href="#"></a>
                            <a href="#"><img class="image" src="/Images/pic/2.jpg" alt="1"></a>

                            <div class="row">
                                <p class="course-list-content-price">
                                    90000 $
                                </p>
                                <p class="course-list-content-time">
                                    9:12:30
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-3 col-xxl-3">
                        <div class="course-list-content">
                            <a href="#"></a>
                            <a href="#"><img class="image" src="/Images/pic/3.jpg" alt="1"></a>

                            <div class="row">
                                <p class="course-list-content-price">
                                    183000 $
                                </p>
                                <p class="course-list-content-time">
                                    13:12:30
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-3 col-xxl-3">
                        <div class="course-list-content">
                            <a href="#"></a>
                            <a href="#"><img class="image" src="/Images/pic/4.jpg" alt="1"></a>

                            <div class="row">
                                <p class="course-list-content-price">
                                    120000 $
                                </p>
                                <p class="course-list-content-time">
                                    10:12:30
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-3 col-xxl-3">
                        <div class="course-list-content">
                            <a href="#"></a>
                            <a href="#"><img class="image" src="/Images/pic/5.jpg" alt="1"></a>

                            <div class="row">
                                <p class="course-list-content-price">
                                    285000 $
                                </p>
                                <p class="course-list-content-time">
                                    45:12:30
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-3 col-xxl-3">
                        <div class="course-list-content">
                            <a href="#"></a>
                            <a href="#"><img class="image" src="/Images/pic/6.jpg" alt="1"></a>

                            <div class="row">
                                <p class="course-list-content-price">
                                    رایگان
                                </p>
                                <p class="course-list-content-time">
                                    15:12:30
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-3 col-xxl-3">
                        <div class="course-list-content">
                            <a href="#"></a>
                            <a href="#"><img class="image" src="/Images/pic/7.jpg" alt="1"></a>

                            <div class="row">
                                <p class="course-list-content-price">
                                    135000 $
                                </p>
                                <p class="course-list-content-time">
                                    10:12:30
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-3 col-xxl-3">
                        <div class="course-list-content">
                            <a href="#"></a>
                            <a href="#"><img class="image" src="/Images/pic/8.jpg" alt="1"></a>

                            <div class="row">
                                <p class="course-list-content-price">
                                    585000 $
                                </p>
                                <p class="course-list-content-time">
                                    25:12:30
                                </p>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
        <!-- end course -->
        <!-- start hr -->
        <div class="container">
            <hr>
        </div>
        <!-- end hr -->
        <!-- start best -->
        <div class="container">
            <div class="course">
                <h2>دوره های محبوب ای ام لرن</h2>
                <h4>مشاهده ی همه دوره ها</h4>
            </div>
            <div class="row">
                <div class="course-list">

                    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-3 col-xxl-3">
                        <div class="course-list-content">
                            <a href="#"><img class="image" src="/Images/pic/1.jpg" alt="1"></a>


                            <div class="row">
                                <p class="course-list-content-price">
                                    190000 $
                                </p>
                                <p class="course-list-content-time">
                                    15:12:30
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-3 col-xxl-3">
                        <div class="course-list-content">
                            <a href="#"></a>
                            <a href="#"><img class="image" src="/Images/pic/2.jpg" alt="1"></a>

                            <div class="row">
                                <p class="course-list-content-price">
                                    90000 $
                                </p>
                                <p class="course-list-content-time">
                                    9:12:30
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-3 col-xxl-3">
                        <div class="course-list-content">
                            <a href="#"></a>
                            <a href="#"><img class="image" src="/Images/pic/3.jpg" alt="1"></a>

                            <div class="row">
                                <p class="course-list-content-price">
                                    183000 $
                                </p>
                                <p class="course-list-content-time">
                                    13:12:30
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-3 col-xxl-3">
                        <div class="course-list-content">
                            <a href="#"></a>
                            <a href="#"><img class="image" src="/Images/pic/4.jpg" alt="1"></a>

                            <div class="row">
                                <p class="course-list-content-price">
                                    120000 $
                                </p>
                                <p class="course-list-content-time">
                                    10:12:30
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-3 col-xxl-3">
                        <div class="course-list-content">
                            <a href="#"></a>
                            <a href="#"><img class="image" src="/Images/pic/5.jpg" alt="1"></a>

                            <div class="row">
                                <p class="course-list-content-price">
                                    285000 $
                                </p>
                                <p class="course-list-content-time">
                                    45:12:30
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-3 col-xxl-3">
                        <div class="course-list-content">
                            <a href="#"></a>
                            <a href="#"><img class="image" src="/Images/pic/6.jpg" alt="1"></a>

                            <div class="row">
                                <p class="course-list-content-price">
                                    رایگان
                                </p>
                                <p class="course-list-content-time">
                                    15:12:30
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-3 col-xxl-3">
                        <div class="course-list-content">
                            <a href="#"></a>
                            <a href="#"><img class="image" src="/Images/pic/7.jpg" alt="1"></a>

                            <div class="row">
                                <p class="course-list-content-price">
                                    135000 $
                                </p>
                                <p class="course-list-content-time">
                                    10:12:30
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-3 col-xxl-3">
                        <div class="course-list-content">
                            <a href="#"></a>
                            <a href="#"><img class="image" src="/Images/pic/8.jpg" alt="1"></a>

                            <div class="row">
                                <p class="course-list-content-price">
                                    585000 $
                                </p>
                                <p class="course-list-content-time">
                                    25:12:30
                                </p>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
        <!-- end best -->

    </main>
    <!-- end main -->
