    <footer class="footer">

        <div class="footer-content">
            <div class="row">
                <div class="footer-column  col-xs-12">
                    <h3>دسترسی سریع</h3>
                    <ul>
                        <li class="footer-li">
                            <a class="link" href="#"> مشاهده ی تمامی دوره ها</li>
                        <li class="footer-li">
                            <a class="link" href="#"> قوانین خرید از سایت</li>
                        <li class="footer-li">
                            <a class="link" href="#"> راهنمای خرید</li>
                        <li class="footer-li">
                            <a class="link" href="#"> همکاری با ای ام لرن</li>
                        <li class="footer-li">
                            <a class="link" href="#"> کسب درامد از ای ام لرن</li>
                        <li class="footer-li">
                            <a class="link" href="#"> ماهنامه ی ای ام لرن</li>
                        <li class="footer-li">
                            <a class="link" href="#"> بلاگ</li>
                    </ul>
                </div> 
                <div class="footer-column  col-xs-12">
                    <h3>دسترسی سریع</h3>
                    <ul>
                        <li class="footer-li">
                            <a class="link" href="#"> مشاهده ی تمامی دوره ها</li>
                        <li class="footer-li">
                            <a class="link" href="#"> قوانین خرید از سایت</li>
                        <li class="footer-li">
                            <a class="link" href="#"> راهنمای خرید</li>
                        <li class="footer-li">
                            <a class="link" href="#"> همکاری با ای ام لرن</li>
                        <li class="footer-li">
                            <a class="link" href="#"> کسب درامد از ای ام لرن</li>
                        <li class="footer-li">
                            <a class="link" href="#"> ماهنامه ی ای ام لرن</li>
                        <li class="footer-li">
                            <a class="link" href="#"> بلاگ</li>
                    </ul>
                </div>
                <div class="footer-column  col-xs-12">
                    <h3>دسترسی سریع</h3>
                    <ul>
                        <li class="footer-li">
                            <a class="link" href="#"> مشاهده ی تمامی دوره ها</li>
                        <li class="footer-li">
                            <a class="link" href="#"> قوانین خرید از سایت</li>
                        <li class="footer-li">
                            <a class="link" href="#"> راهنمای خرید</li>
                        <li class="footer-li">
                            <a class="link" href="#"> همکاری با ای ام لرن</li>
                        <li class="footer-li">
                            <a class="link" href="#"> کسب درامد از ای ام لرن</li>
                        <li class="footer-li">
                            <a class="link" href="#"> ماهنامه ی ای ام لرن</li>
                        <li class="footer-li">
                            <a class="link" href="#"> بلاگ</li>
                    </ul>
                </div> 
                <div class="footer-column  col-xs-12">
                    <h3>دسترسی سریع</h3>
                    <ul>
                        <li class="footer-li">
                            <a class="link" href="#"> مشاهده ی تمامی دوره ها</li>
                        <li class="footer-li">
                            <a class="link" href="#"> قوانین خرید از سایت</li>
                        <li class="footer-li">
                            <a class="link" href="#"> راهنمای خرید</li>
                        <li class="footer-li">
                            <a class="link" href="#"> همکاری با ای ام لرن</li>
                        <li class="footer-li">
                            <a class="link" href="#"> کسب درامد از ای ام لرن</li>
                        <li class="footer-li">
                            <a class="link" href="#"> ماهنامه ی ای ام لرن</li>
                        <li class="footer-li">
                            <a class="link" href="#"> بلاگ</li>
                    </ul>
                </div> 
                <div class="footer-column  col-xs-12">
                    <h3>دسترسی سریع</h3>
                    <ul>
                        <li class="footer-li">
                            <a class="link" href="#"> مشاهده ی تمامی دوره ها</li>
                        <li class="footer-li">
                            <a class="link" href="#"> قوانین خرید از سایت</li>
                        <li class="footer-li">
                            <a class="link" href="#"> راهنمای خرید</li>
                        <li class="footer-li">
                            <a class="link" href="#"> همکاری با ای ام لرن</li>
                        <li class="footer-li">
                            <a class="link" href="#"> کسب درامد از ای ام لرن</li>
                        <li class="footer-li">
                            <a class="link" href="#"> ماهنامه ی ای ام لرن</li>
                        <li class="footer-li">
                            <a class="link" href="#"> بلاگ</li>
                    </ul>
                </div>  
            </div>
        </div>
        <div class="footer-copyright">
                <p>&copy;تمامی حقوق این سایت متعلق به ای ام لرن میباشد</p>
        </div>
    </footer>
