<!DOCTYPE html>
<html lang="en">

<head>
<partial name="_Styles"/>
</head>

<body>
    <!-- Start Header -->
    <div class="Landing-layer">
        <div class="container">
            <partial name="_Header" />
            @RenderSection("Brand",false)
        </div>
    </div>
    <!-- End Header -->
    <!-- main manu -->
    <partial name="_Navbar" />
    <!-- /main manu -->
    <!-- Start Main -->
    @RenderBody()
    <!-- End Main -->
    <!-- Start Footer -->
    <partial name="_Footer" />
    <!-- End Footer -->
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>