@charset "UTF-8";
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.success {
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
  width: 100%;
  padding: 1rem auto;
  box-shadow: 0 0 20px #039703;
  background-color: #81fca0;
  color: #025f02;
  border: 2px solid #06af06;
  border-radius: 1rem;
}

.danger {
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
  width: 100%;
  padding: 1rem auto;
  box-shadow: 0 0 20px #6b0000;
  background-color: #dd7575;
  color: #770101;
  border: 2px solid #d40303;
  border-radius: 1rem;
}

.warning {
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
  width: 100%;
  padding: 1rem auto;
  box-shadow: 0 0 20px #555401;
  background-color: #ebec82;
  color: #757701;
  border: 2px solid #ffee00;
  border-radius: 1rem;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
  width: 100%;
  padding: 1rem auto;
  box-shadow: 0 0 20px #00406b;
  background-color: #75bcdd;
  color: #015277;
  border: 2px solid #04f7ff;
  border-radius: 1rem;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 10px;
}

.nav-link {
  display: block;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto,
.col-xxl-1,
.col-xxl-2,
.col-xxl-3,
.col-xxl-4,
.col-xxl-5,
.col-xxl-6,
.col-xxl-7,
.col-xxl-8,
.col-xxl-9,
.col-xxl-10,
.col-xxl-11,
.col-xxl-12,
.col-xxl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .col-sm-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-sm-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-sm-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-sm-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-md-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-lg-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-xl-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-xl-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-xl-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-xl-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1400px) {
  .col-xxl-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-xxl-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-xxl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xxl-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-xxl-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-xxl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xxl-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-xxl-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-xxl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xxl-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-xxl-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-xxl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@font-face {
  font-family: "BYekan";
  src: url("/font/BYekan.eot") format("eot"), url("/font/BYekan.woff") format("woff"), url("/font/BYekan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "BYekan";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: cornsilk;
}

.Landing-layer {
  width: 100vw;
  font-family: "byekan";
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(/Images/Slide2.jpg) center no-repeat;
  background-size: cover;
}
.Landing-layer .navbar {
  width: 100%;
}
.Landing-layer .navbar-left {
  width: 40%;
  margin: 1rem auto;
  color: brown;
}
.Landing-layer .navbar-left a:link {
  color: #04c464;
}
.Landing-layer .navbar-left a:visited {
  color: #f1a604;
}
.Landing-layer .navbar-left .signin {
  display: flex;
  text-align: center;
  padding: 0 6rem;
}
.Landing-layer .navbar-left .signin .hidden {
  display: none;
}
.Landing-layer .navbar-middle {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Landing-layer .navbar-middle .logo {
  width: 200px;
  height: 120px;
}
.Landing-layer .navbar-right {
  width: 40%;
}
.Landing-layer .navbar-right-ul {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
.Landing-layer .navbar-right-ul li {
  color: #c0e90a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Landing-layer .navbar-right-ul a {
  color: aliceblue;
  padding: 0.5rem 1.5rem;
  float: right;
}
.Landing-layer .brand {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f1a604;
}
.Landing-layer .brand .desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Landing-layer .brand .desc-teachers {
  font-size: 2rem;
  margin-top: 2rem;
  color: #f1a604;
}
.Landing-layer .brand .desc-job {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  color: #04c464;
}
.Landing-layer .brand .desc-yourself {
  font-size: 1.3rem;
  margin-top: 1.5rem;
  color: #1298d6;
}
.Landing-layer .brand .search-input {
  color: #d8ba13;
  background-color: transparent;
  font-family: "byekan";
  border: 1px solid #d8ba13;
  box-shadow: 0 0 18px #d8ba13;
  border-radius: 15px;
  padding: 0.8rem 15rem;
  margin: 3.5rem auto;
}
.Landing-layer .brand .search-input::-moz-placeholder {
  color: #d8ba13;
  font-size: 1.1rem;
  font-weight: 900;
}
.Landing-layer .brand .search-input:-ms-input-placeholder {
  color: #d8ba13;
  font-size: 1.1rem;
  font-weight: 900;
}
.Landing-layer .brand .search-input::placeholder {
  color: #d8ba13;
  font-size: 1.1rem;
  font-weight: 900;
}

.nav {
  align-content: center;
  direction: rtl;
  width: 100%;
  height: 5rem;
  cursor: pointer;
  margin: 0.2rem auto;
  position: relative;
}

@media (max-width: 600px) {
  .Landing-layer .navbar-left {
    width: 50%;
    font-size: 0.8rem;
  }
  .Landing-layer .navbar-middle {
    width: 50%;
  }
  .Landing-layer .navbar-right {
    display: none;
  }
  .Landing-layer .brand .desc-teachers {
    font-size: 1.5rem;
  }
  .Landing-layer .brand .desc-job {
    font-size: 1.2rem;
  }
  .Landing-layer .brand .search-input {
    margin: 1.5rem auto;
    padding: 0.6rem 10rem;
  }

  .nav {
    display: none;
  }
}
.nav a:link {
  color: black;
}

.nav a:visited {
  color: black;
}

.nav-ul {
  position: absolute;
  right: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto;
  padding: 0.2rem 2rem;
  align-content: center;
  font-weight: 900;
  transition: all 0.3s linear;
  position: relative;
}

.nav-ul li:hover {
  background: linear-gradient(110deg, rgba(255, 0, 0, 0.5), rgba(255, 174, 0, 0.8));
  border-radius: 1.5rem;
  transition: 0.3s;
}

.nav-ul li:hover ul {
  display: block;
}

.nav-ul li ul {
  position: absolute;
  top: 100%;
  right: 0%;
  z-index: 1;
  width: 100%;
  display: none;
}

.nav-li::after {
  content: "▼";
  font-size: 0.6rem;
  padding-right: 0.5rem;
}

.nav-li:hover::after {
  content: "▲";
  color: #a7340a;
  font-size: 0.6rem;
  padding-right: 0.5rem;
}

.nav-li ul li {
  width: 100%;
  padding-right: 1.5rem;
  margin: 0.2rem auto;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 2rem auto;
  background: rgba(255, 255, 255, 0.247);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
}

.main {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
  background-size: cover;
}

.main1 {
  background: cornsilk;
  background-size: cover;
}

.navigation {
  direction: rtl;
  color: wheat;
  margin-top: 2rem;
  margin-right: 4rem;
}
.navigation a:link {
  color: #000;
}
.navigation-item {
  padding: 0 1rem;
  color: #000;
}
.navigation a:visited {
  color: #dd6dec;
}

.main-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-box-h1 {
  color: #47443d;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-shadow: 0 0 15px #ff0202;
}
.main-box-input {
  margin-bottom: 1rem;
  background-color: wheat;
  border: 2px solid #f1a604;
  border-radius: 10px;
  box-shadow: 0 0 8rem #f1a604;
  direction: rtl;
}
.main-box-input-addon {
  border-right: 1px solid wheat;
  border-radius: 6px;
  padding: 3px 6px;
  text-shadow: 0 0 10px wheat;
}
.main-box .form-control {
  background-color: transparent;
  border: 1px solid wheat;
  border-radius: 5px;
  padding: 0.3rem 4rem;
  box-shadow: 0 0 10px wheat;
}
.main-box .remember-me {
  color: wheat;
  margin: 1rem auto;
  direction: rtl;
}
.main-box .link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  direction: rtl;
  margin: 0.6rem auto;
}
.main-box a:link {
  color: #e0c840;
}
.main-box a:visited {
  color: #dd6dec;
}
.main-box .btn {
  margin: 1rem auto;
  background-color: #1a8005;
  border: 1px solid teal;
  border-radius: 8px;
  padding: 0.5rem 3rem;
  box-shadow: 0 0 10px yellowgreen;
  cursor: pointer;
  color: whitesmoke;
  transition: 0.3s;
}
.main-box .btn:active {
  transform: scale(0.97);
}

.section {
  width: 100vw;
  direction: rtl;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2.5rem;
}
.section-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 100%;
}
@media (max-width: 600px) {
  .section-right {
    margin: 0 4rem;
    font-size: 1rem;
    width: 100%;
    margin-bottom: 5rem;
  }
}
.section-right-avatar a img {
  margin-top: 1.5rem;
  margin-right: 7rem;
  width: 11rem;
  height: 11rem;
  border: 1px solid orange;
  border-radius: 50%;
  box-shadow: 0 0 10rem rgba(255, 230, 0, 0.6);
}
.section-right-nav {
  margin-right: 7rem;
  margin-top: 1rem;
  line-height: 2rem;
}
.section-right-nav h3 {
  color: #d8ba13;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.section-right-nav a {
  font-weight: 600;
  color: #033c7e;
  transition: all 0.3s;
}
.section-right-nav a:hover {
  color: orangered;
}
.section-left {
  display: flex;
  align-items: center;
  padding-right: 10rem;
  font-weight: 600;
  width: 70%;
  height: 100%;
  line-height: 2.5rem;
}
.section-left ul li {
  direction: rtl;
  color: #302f02;
}
.section-left ul li .icon {
  color: #d8ba13;
  padding-left: 0.5rem;
}

.course {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5rem 0;
}
.course-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.course-list-content {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 1rem;
  margin-bottom: 1rem;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 15px #9baacf;
}
.course-list-content-price {
  color: #66c408;
  padding-right: 8rem;
}
.course-list-content-time {
  color: crimson;
}

hr {
  margin-top: 4rem;
  color: #9baacf;
  box-shadow: 2px 2px 5px #9baacf;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  color: #c8d0e7;
  margin: 0 auto;
}
.footer-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 2rem;
}
.footer-column h3 {
  align-content: center;
  padding: 2rem;
  color: #ffe600;
}
.footer-column ul li a {
  color: #c8d0e7;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.footer-column ul li a:hover {
  color: #ffe600;
  letter-spacing: 0.1rem;
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-copyright {
  font-size: 1.2rem;
  color: #eee37c;
  margin-bottom: 1rem;
}

.edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5rem;
  font-size: 0.85rem;
  font-weight: 600;
}

.image {
  width: 100%;
  height: 100%;
}

.success {
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
  width: 500px;
  height: 150px;
  box-shadow: 0 0 20px #039703;
  background-color: #81fca0;
  color: #025f02;
  border: 2px solid #039703;
  border-radius: 1rem;
}
.success-items {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}/*# sourceMappingURL=main.css.map */